a {
  color: #00B7FF;
}

h1 {
  text-decoration: underline;
  margin-bottom: 15px;
}

nav {
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #BBBBBB;
}

nav a {
  color: black;
}

#github-icon {
  width: 32px;
  height: 32px;
}

#tutorial {
  overflow-wrap: break-word;
}

#day-options-container {
  display: grid;
}

.grid-item {
  justify-self: stretch;
}

@media(min-width: 768px) {
  #day-options-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 7px;
  }

}

@media(max-width: 767px) {
  #day-options-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 7px;
  }

  #day-options-container.result-alert-shown {
    background-color: black;
    display: none;
  }
}